@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0 auto !important;
  max-width: 1600px;
  box-shadow: 0 0 5px 5px #cccccc;
  font-family: "Lato", sans-serif;
}

.header {
  height: 600px;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  margin: 0 0 60px;
}
.header__navbar svg {
  width: 70px;
  height: 70px;
}
.header__navbar a {
  text-decoration: none;
  color: #000000;
}
.header__navbar--logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navbar--logo span {
  margin-left: 15px;
  font-size: 24px;
  font-weight: 700;
}
.header__navbar nav a {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 400;
}
.header__content {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__content__left {
  position: relative;
  margin-top: 60px;
}
.header__content__left h2 {
  font-size: 204px;
  font-weight: 900;
  text-align: center;
  margin: 0;
}
.header__content__left img {
  position: absolute;
  top: 130px;
  left: -40px;
}
.header__content__right {
  margin-left: 120px;
  position: relative;
}
.header__content__right h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 25px;
}
.header__content__right p {
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}
.header__content__right__btn {
  cursor: pointer;
  margin-top: 25px;
  background: #FFCD00;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__right__btn a {
  text-decoration: none;
  color: #000000;
}
.header__content__right__img {
  background: url("../img/header_img2.jpg");
  position: absolute;
  top: 320px;
  left: 55px;
  width: 261px;
  height: 247px;
}

.super__content {
  display: flex;
}
.super__content__left {
  margin-top: 50px;
  margin-right: 160px;
  position: relative;
  width: 1080px;
}
.super__content__left__desc {
  width: 465px;
  margin-left: 220px;
}
.super__content__left__desc h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 25px;
}
.super__content__left__desc p {
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}
.super__content__left__desc__btn {
  cursor: pointer;
  margin-top: 25px;
  background: #FFCD00;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.super__content__left__desc__btn a {
  text-decoration: none;
  color: #000000;
}
.super__content__left img {
  position: absolute;
  z-index: -1;
  top: 340px;
  left: 220px;
}
.super__content__left__facts {
  display: flex;
  justify-content: space-between;
  margin-top: 380px;
}
.super__content__left__facts div:nth-child(1) {
  height: 210px;
  width: 455px;
  display: flex;
  background: #262628;
  color: #ffffff;
  margin-right: 2px;
}
.super__content__left__facts div:nth-child(1) section {
  height: 210px;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.super__content__left__facts div:nth-child(1) section p {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
.super__content__left__facts div:nth-child(2), .super__content__left__facts div:nth-child(3), .super__content__left__facts div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 230px;
  height: 145px;
  background: #E7E7E7;
  margin: 65px 2px 0;
}
.super__content__left__facts div:nth-child(2) h3, .super__content__left__facts div:nth-child(3) h3, .super__content__left__facts div:nth-child(4) h3 {
  font-size: 45px;
  font-weight: 400;
  margin: 0 0 20px;
}
.super__content__left__facts div:nth-child(2) span, .super__content__left__facts div:nth-child(3) span, .super__content__left__facts div:nth-child(4) span {
  font-size: 12px;
  font-weight: 300;
}
.super__content__right {
  position: relative;
}
.super__content__right img {
  position: absolute;
  z-index: -2;
  left: -430px;
}

.ultra {
  background: url("../img/ultra-bg.jpg");
  height: 800px;
}
.ultra__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.ultra__content__left, .ultra__content__right {
  background: #ffffff;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ultra__content__left h3, .ultra__content__right h3 {
  margin: 30px 0 20px;
  font-size: 25px;
  font-weight: 700;
}
.ultra__content__left p, .ultra__content__right p {
  width: 80%;
  font-size: 19px;
  line-height: 25px;
}
.ultra__content__left {
  width: 400px;
}
.ultra__content__left__switch {
  display: flex;
  justify-content: space-around;
}
.ultra__content__left__switch div {
  width: 40px;
  height: 0;
  border: 3px solid;
  margin: 30px 5px;
}
.ultra__content__right {
  width: 368px;
}
.ultra__content__right p {
  text-align: center;
}
.ultra__content__right p span {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.ultra__content__right p span:nth-child(2) {
  margin: 0 15px;
  color: #FFCD00;
}

.network {
  background: url("../img/network-bg.jpg");
}
.network h2 {
  text-align: center;
  padding-top: 60px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 58px;
}
.network h2 svg {
  margin-right: 30px;
}
.network__content {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.network__content h4, .network__content p {
  color: #ffffff;
  font-weight: 400;
}
.network__content h4 {
  font-size: 25px;
}
.network__content p {
  font-size: 15px;
}
.network__content__left, .network__content__right {
  width: 360px;
}
.network__content__center {
  width: 370px;
  height: 330px;
  background: #F4F4F4;
  margin: 0 30px;
  border-radius: 43px 43px 0 0;
}
.network__content__center h3 {
  font-size: 30px;
  font-weight: 900;
  color: #A4A4A4;
  text-align: center;
}
.network__content__center__main {
  display: flex;
  margin: 0 auto;
  width: 280px;
  height: 180px;
  border-radius: 2px;
}
.network__content__center__main div:nth-child(1) {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  position: relative;
}
.network__content__center__main div:nth-child(1) span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
}
.network__content__center__main div:nth-child(2) {
  background: cyan;
  width: 110px;
  font-weight: 400;
}
.network__content__center__main div:nth-child(2) h4 {
  margin: 20px 0 10px 10px;
  font-size: 18px;
  width: 80%;
}
.network__content__center__main div:nth-child(2) p {
  margin: 0 0 10px 10px;
  font-size: 10px;
  width: 80%;
  line-height: 12px;
}
.network__content__center__main div:nth-child(2) span {
  font-size: 18px;
  color: #ffffff;
  margin: 0 0 0 10px;
}
.network__content__center__main + p {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A4A4A4;
  font-size: 12px;
  font-weight: 400;
  margin: 20px 0 0;
}
.network__content__center svg {
  margin-right: 20px;
  fill: #A4A4A4;
}

/*# sourceMappingURL=main.css.map */
