@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0 auto !important;
  max-width: 1600px;
  box-shadow: 0 0 5px 5px #cccccc;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.header {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .header {
    height: 560px;
  }
}
@media screen and (max-width: 430px) {
  .header {
    height: 800px;
  }
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  margin: 0 0 60px;
}
@media screen and (max-width: 430px) {
  .header__navbar {
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: 7;
    background: #FFCD00;
  }
}
.header__navbar svg {
  width: 70px;
  height: 70px;
}
.header__navbar a {
  text-decoration: none;
  color: #000000;
  position: relative;
}
.header__navbar--logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 430px) {
  .header__navbar--logo {
    top: -10px;
    left: -100px;
  }
}
@media screen and (max-width: 330px) {
  .header__navbar--logo {
    left: -80px;
  }
}
.header__navbar--logo span {
  margin-left: 15px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 430px) {
  .header__navbar nav {
    display: none;
  }
}
.header__navbar nav a {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 400;
}
.header__navbar nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #000000;
  transition: 0.5s ease;
}
.header__navbar nav a:hover::before {
  width: 100%;
}
.header #hamburger {
  display: none;
}
.header #hamburger + label {
  display: none;
  width: 42px;
  height: 42px;
}
@media screen and (max-width: 430px) {
  .header #hamburger + label {
    display: block;
    position: absolute;
    z-index: 1;
    top: 55px;
    right: 30px;
  }
}
.header #hamburger + label span {
  width: 30px;
  height: 3px;
  background: #000000;
  display: block;
  position: relative;
  margin: auto;
  transition: 0.5s;
}
.header #hamburger + label span:before, .header #hamburger + label span:after {
  transition: 0.5s;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  background: #000000;
}
.header #hamburger + label span:before {
  top: -10px;
}
.header #hamburger + label span:after {
  bottom: -10px;
}
.header #hamburger:checked + label span {
  background: transparent;
  transform: rotate(180deg);
}
.header #hamburger:checked + label span:before, .header #hamburger:checked + label span:after {
  top: 50%;
  bottom: initial;
  width: 110%;
  background: #000000;
}
.header #hamburger:checked + label span:before {
  transform: rotate(45deg);
}
.header #hamburger:checked + label span:after {
  transform: rotate(-45deg);
}
.header .nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  position: fixed;
  height: 280px;
  top: 110px;
  right: 0;
  left: 0;
  background: #FFCD00;
  overflow: auto;
  z-index: 6;
}
.header .nav__list a {
  margin: 15px 0;
}
.header__content {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .header__content {
    width: 900px;
  }
}
@media screen and (max-width: 768px) {
  .header__content {
    width: 700px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 430px) {
  .header__content {
    padding-top: 130px;
    width: 400px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .header__content {
    width: 320px;
  }
}
.header__content__left {
  position: relative;
  margin-top: 60px;
}
@media screen and (max-width: 430px) {
  .header__content__left {
    margin: 0;
  }
}
.header__content__left h2 {
  font-size: 204px;
  font-weight: 900;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .header__content__left h2 {
    font-size: 150px;
  }
}
@media screen and (max-width: 768px) {
  .header__content__left h2 {
    font-size: 90px;
  }
}
.header__content__left img {
  position: absolute;
  top: 130px;
  left: -40px;
}
@media screen and (max-width: 1024px) {
  .header__content__left img {
    width: 500px;
    top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .header__content__left img {
    width: 350px;
    top: 55px;
    left: -45px;
  }
}
@media screen and (max-width: 380px) {
  .header__content__left img {
    width: 300px;
    left: -25px;
  }
}
.header__content__right {
  margin-left: 120px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header__content__right {
    margin-left: 70px;
    width: 300px;
  }
}
@media screen and (max-width: 430px) {
  .header__content__right {
    margin: 90px 0 0 0;
  }
}
.header__content__right h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 25px;
}
@media screen and (max-width: 768px) {
  .header__content__right h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 430px) {
  .header__content__right h3 {
    text-align: center;
  }
}
.header__content__right p {
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .header__content__right p {
    font-size: 14px;
  }
}
.header__content__right__btn {
  cursor: pointer;
  margin-top: 25px;
  background: #FFCD00;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .header__content__right__btn {
    width: 140px;
    height: 40px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 430px) {
  .header__content__right__btn {
    margin: 10px auto;
  }
}
.header__content__right__btn a {
  text-decoration: none;
  color: #000000;
}
.header__content__right__btn:hover {
  box-shadow: 0 0 5px 1px #000000;
}
.header__content__right__img {
  background: url("../img/header_img2.jpg");
  background-size: cover;
  position: absolute;
  top: 330px;
  left: 55px;
  width: 261px;
  height: 247px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .header__content__right__img {
    width: 211px;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .header__content__right__img {
    width: 158px;
    height: 150px;
    top: 310px;
    left: 0;
  }
}
@media screen and (max-width: 430px) {
  .header__content__right__img {
    right: 0;
    margin: 0 auto;
  }
}
.header__content__right__img svg {
  display: none;
  fill: #ffffff;
  width: 110px;
  height: 110px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .header__content__right__img svg {
    width: 80px;
    height: 80px;
  }
}
.header__content__right__img:hover svg {
  display: block;
}

.super__content {
  display: flex;
}
@media screen and (max-width: 430px) {
  .super__content {
    flex-direction: column;
  }
}
.super__content__left {
  margin-top: 50px;
  margin-right: 160px;
  position: relative;
  width: 1080px;
}
@media screen and (max-width: 1024px) {
  .super__content__left {
    width: 1024px;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .super__content__left {
    width: 768px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left {
    width: 400px;
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 380px) {
  .super__content__left {
    width: 300px;
  }
}
.super__content__left__desc {
  width: 465px;
  margin-left: 220px;
}
@media screen and (max-width: 1440px) {
  .super__content__left__desc {
    margin-left: 120px;
  }
}
@media screen and (max-width: 1024px) {
  .super__content__left__desc {
    margin-left: 80px;
    width: 420px;
  }
}
@media screen and (max-width: 768px) {
  .super__content__left__desc {
    margin-left: 70px;
    width: 300px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left__desc {
    margin: 0 auto;
  }
}
.super__content__left__desc h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 25px;
}
@media screen and (max-width: 768px) {
  .super__content__left__desc h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left__desc h3 {
    text-align: center;
  }
}
.super__content__left__desc p {
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .super__content__left__desc p {
    font-size: 14px;
  }
}
.super__content__left__desc__btn {
  cursor: pointer;
  margin-top: 25px;
  background: #FFCD00;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .super__content__left__desc__btn {
    width: 140px;
    height: 40px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left__desc__btn {
    margin: 20px auto;
  }
}
.super__content__left__desc__btn a {
  text-decoration: none;
  color: #000000;
}
.super__content__left__desc__btn:hover {
  box-shadow: 0 0 5px 1px #000000;
}
.super__content__left img {
  position: absolute;
  z-index: -1;
  top: 340px;
  left: 220px;
}
@media screen and (max-width: 1440px) {
  .super__content__left img {
    left: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .super__content__left img {
    width: 700px;
    top: 270px;
  }
}
@media screen and (max-width: 768px) {
  .super__content__left img {
    width: 530px;
    top: 230px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left img {
    width: 350px;
    top: 240px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 380px) {
  .super__content__left img {
    width: 300px;
  }
}
.super__content__left__facts {
  display: flex;
  justify-content: space-between;
  margin-top: 450px;
}
@media screen and (max-width: 1024px) {
  .super__content__left__facts {
    margin-top: 292px;
  }
}
@media screen and (max-width: 768px) {
  .super__content__left__facts {
    margin-top: 192px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left__facts {
    margin-top: 200px;
    width: 99%;
  }
}
@media screen and (max-width: 380px) {
  .super__content__left__facts {
    width: 300px;
  }
}
.super__content__left__facts div:nth-child(1) {
  height: 210px;
  width: 455px;
  display: flex;
  background: #262628;
  color: #ffffff;
  margin-right: 2px;
}
@media screen and (max-width: 1024px) {
  .super__content__left__facts div:nth-child(1) {
    width: 380px;
  }
}
@media screen and (max-width: 768px) {
  .super__content__left__facts div:nth-child(1) {
    width: 250px;
    height: 180px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left__facts div:nth-child(1) {
    width: 235px;
    height: 100px;
  }
}
@media screen and (max-width: 380px) {
  .super__content__left__facts div:nth-child(1) {
    display: none;
  }
}
.super__content__left__facts div:nth-child(1) section {
  height: 210px;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .super__content__left__facts div:nth-child(1) section {
    margin-left: 230px;
  }
}
@media screen and (max-width: 768px) {
  .super__content__left__facts div:nth-child(1) section {
    margin-left: 160px;
    height: 180px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left__facts div:nth-child(1) section {
    margin: 0;
    height: 100px;
    flex-direction: row;
  }
}
.super__content__left__facts div:nth-child(1) section p {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .super__content__left__facts div:nth-child(1) section p {
    font-size: 28px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left__facts div:nth-child(1) section p {
    font-size: 12px;
    margin: auto 5px;
  }
}
.super__content__left__facts div:nth-child(2), .super__content__left__facts div:nth-child(3), .super__content__left__facts div:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 230px;
  height: 145px;
  background: #E7E7E7;
  margin: 65px 2px 0;
}
@media screen and (max-width: 1440px) {
  .super__content__left__facts div:nth-child(2), .super__content__left__facts div:nth-child(3), .super__content__left__facts div:nth-child(4) {
    width: 210px;
  }
}
@media screen and (max-width: 768px) {
  .super__content__left__facts div:nth-child(2), .super__content__left__facts div:nth-child(3), .super__content__left__facts div:nth-child(4) {
    width: 168px;
    height: 115px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left__facts div:nth-child(2), .super__content__left__facts div:nth-child(3), .super__content__left__facts div:nth-child(4) {
    height: 100px;
    margin: 0 2px;
  }
}
@media screen and (max-width: 380px) {
  .super__content__left__facts div:nth-child(2), .super__content__left__facts div:nth-child(3), .super__content__left__facts div:nth-child(4) {
    width: 90px;
    height: 100px;
  }
}
.super__content__left__facts div:nth-child(2) h3, .super__content__left__facts div:nth-child(3) h3, .super__content__left__facts div:nth-child(4) h3 {
  font-size: 45px;
  font-weight: 400;
  margin: 0 0 20px;
}
@media screen and (max-width: 768px) {
  .super__content__left__facts div:nth-child(2) h3, .super__content__left__facts div:nth-child(3) h3, .super__content__left__facts div:nth-child(4) h3 {
    font-size: 36px;
  }
}
@media screen and (max-width: 430px) {
  .super__content__left__facts div:nth-child(2) h3, .super__content__left__facts div:nth-child(3) h3, .super__content__left__facts div:nth-child(4) h3 {
    font-size: 24px;
  }
}
.super__content__left__facts div:nth-child(2) span, .super__content__left__facts div:nth-child(3) span, .super__content__left__facts div:nth-child(4) span {
  font-size: 12px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .super__content__left__facts div:nth-child(2) span, .super__content__left__facts div:nth-child(3) span, .super__content__left__facts div:nth-child(4) span {
    font-size: 12px;
    text-align: center;
  }
}
.super__content__right {
  position: relative;
}
@media screen and (max-width: 430px) {
  .super__content__right {
    display: none;
  }
}
.super__content__right img {
  position: absolute;
  z-index: -2;
  left: -430px;
}
@media screen and (max-width: 1440px) {
  .super__content__right img {
    left: -591px;
  }
}
@media screen and (max-width: 1024px) {
  .super__content__right img {
    width: 500px;
    left: -505px;
  }
}
@media screen and (max-width: 768px) {
  .super__content__right img {
    width: 400px;
    left: -402px;
  }
}
@media screen and (max-width: 380px) {
  .super__content__right img {
    width: 320px;
  }
}

.ultra {
  background: url("../img/ultra-bg.jpg") no-repeat;
  background-size: cover;
  height: 800px;
}
@media screen and (max-width: 1440px) {
  .ultra {
    background: url("../img/ultra-1440-bg.jpg") no-repeat;
    height: 740px;
  }
}
@media screen and (max-width: 1024px) {
  .ultra {
    background: url("../img/ultra-1024-bg.jpg") no-repeat;
    height: 526px;
  }
}
@media screen and (max-width: 768px) {
  .ultra {
    background: url("../img/ultra-768-bg.jpg") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 430px) {
  .ultra {
    height: 670px;
  }
}
.ultra__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
@media screen and (max-width: 430px) {
  .ultra__content {
    flex-direction: column;
    justify-content: space-around;
  }
}
.ultra__content__left, .ultra__content__right {
  background: #ffffff;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .ultra__content__left, .ultra__content__right {
    height: 300px;
  }
}
.ultra__content__left h3, .ultra__content__right h3 {
  margin: 30px 0 20px;
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .ultra__content__left h3, .ultra__content__right h3 {
    font-size: 20px;
    margin: 20px 0;
  }
}
.ultra__content__left p, .ultra__content__right p {
  width: 80%;
  font-size: 19px;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  .ultra__content__left p, .ultra__content__right p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
  }
}
.ultra__content__left {
  width: 400px;
}
@media screen and (max-width: 768px) {
  .ultra__content__left {
    width: 300px;
  }
}
@media screen and (max-width: 430px) {
  .ultra__content__left {
    width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .ultra__content__left img {
    width: 230px;
  }
}
.ultra__content__left__switch {
  display: flex;
  justify-content: space-around;
}
.ultra__content__left__switch div {
  width: 40px;
  height: 0;
  border: 4px solid;
  margin: 30px 5px;
}
@media screen and (max-width: 768px) {
  .ultra__content__left__switch div {
    margin: 15px 5px;
  }
}
.ultra__content__right {
  width: 368px;
}
@media screen and (max-width: 768px) {
  .ultra__content__right {
    width: 280px;
  }
}
.ultra__content__right p {
  text-align: center;
}
.ultra__content__right p span {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .ultra__content__right p span {
    font-size: 16px;
  }
}
.ultra__content__right p span:nth-child(2) {
  margin: 0 15px;
  color: #FFCD00;
}
@media screen and (max-width: 768px) {
  .ultra__content__right img {
    width: 280px;
  }
}

.network {
  background: url("../img/network-bg.jpg") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1440px) {
  .network {
    background: url("../img/network-1440-bg.jpg") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 1024px) {
  .network {
    background: url("../img/network-1024-bg.jpg") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .network {
    background: url("../img/network-768-bg.jpg") no-repeat;
    background-size: cover;
  }
}
.network h2 {
  text-align: center;
  padding-top: 60px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 58px;
}
@media screen and (max-width: 768px) {
  .network h2 {
    padding-top: 40px;
    font-size: 24px;
  }
}
@media screen and (max-width: 380px) {
  .network h2 {
    font-size: 22px;
    margin: 0;
  }
}
.network h2 svg {
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .network h2 svg {
    margin-right: 10px;
    height: 26px;
  }
}
@media screen and (max-width: 1440px) {
  .network h2 {
    padding-top: 40px;
    margin: 0 0 27px;
  }
}
@media screen and (max-width: 430px) {
  .network h2 {
    margin: 0 0 10px;
  }
}
.network__content {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .network__content {
    width: 1000px;
  }
}
@media screen and (max-width: 768px) {
  .network__content {
    width: 700px;
  }
}
@media screen and (max-width: 430px) {
  .network__content {
    width: 400px;
    flex-direction: column;
  }
}
@media screen and (max-width: 380px) {
  .network__content {
    width: 320px;
  }
}
.network__content h4, .network__content p {
  color: #ffffff;
  font-weight: 400;
}
.network__content h4 {
  font-size: 25px;
  margin: 30px 0 20px;
}
@media screen and (max-width: 768px) {
  .network__content h4 {
    font-size: 20px;
  }
}
.network__content p {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .network__content p {
    font-size: 12px;
  }
}
.network__content__left, .network__content__right {
  width: 360px;
}
@media screen and (max-width: 768px) {
  .network__content__left, .network__content__right {
    width: 235px;
  }
}
.network__content__center {
  width: 370px;
  height: 330px;
  background: #F4F4F4;
  margin: 0 45px 0 30px;
  border-radius: 43px 43px 0 0;
}
@media screen and (max-width: 768px) {
  .network__content__center {
    width: 300px;
    height: 315px;
    margin: 0 20px;
  }
}
@media screen and (max-width: 430px) {
  .network__content__center {
    border-radius: 43px;
  }
}
.network__content__center h3 {
  font-size: 30px;
  font-weight: 900;
  color: #A4A4A4;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .network__content__center h3 {
    font-size: 24px;
  }
}
.network__content__center__main {
  display: flex;
  margin: 0 auto;
  width: 280px;
  height: 180px;
  border-radius: 2px;
}
@media screen and (max-width: 768px) {
  .network__content__center__main {
    width: 240px;
  }
}
.network__content__center__main div:nth-child(1) {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .network__content__center__main div:nth-child(1) {
    width: 140px;
  }
}
.network__content__center__main div:nth-child(1) span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
}
.network__content__center__main div:nth-child(2) {
  background: #39bfbf;
  width: 110px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .network__content__center__main div:nth-child(2) {
    width: 100px;
  }
}
.network__content__center__main div:nth-child(2) h4 {
  margin: 20px 0 10px 10px;
  font-size: 18px;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .network__content__center__main div:nth-child(2) h4 {
    font-size: 14px;
  }
}
.network__content__center__main div:nth-child(2) p {
  margin: 0 0 10px 10px;
  font-size: 10px;
  width: 80%;
  line-height: 12px;
}
.network__content__center__main div:nth-child(2) span {
  font-size: 18px;
  color: #ffffff;
  margin: 0 0 0 10px;
}
@media screen and (max-width: 768px) {
  .network__content__center__main div:nth-child(2) span {
    font-size: 14px;
  }
}
.network__content__center__main + p {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A4A4A4;
  font-size: 12px;
  font-weight: 400;
  margin: 20px 0 0;
}
.network__content__center svg {
  margin-right: 20px;
  fill: #A4A4A4;
}

.slipstream {
  background: url("../img/slipsrteam-bg.jpg") no-repeat;
  background-size: cover;
  height: 345px;
}
@media screen and (max-width: 1440px) {
  .slipstream {
    background: url("../img/slipsrteam-1440-bg.jpg") no-repeat;
    background-size: cover;
    height: 310px;
  }
}
@media screen and (max-width: 1024px) {
  .slipstream {
    background: url("../img/slipsrteam-1024-bg.jpg") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .slipstream {
    background: url("../img/slipsrteam-768-bg.jpg") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 430px) {
  .slipstream {
    height: 380px;
  }
}
.slipstream__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 45px;
}
@media screen and (max-width: 1440px) {
  .slipstream__content {
    padding-top: 25px;
  }
}
@media screen and (max-width: 430px) {
  .slipstream__content {
    flex-direction: column;
    padding-top: 10px;
  }
}
.slipstream__content__left, .slipstream__content__right {
  width: 465px;
}
@media screen and (max-width: 768px) {
  .slipstream__content__left, .slipstream__content__right {
    width: 350px;
  }
}
@media screen and (max-width: 430px) {
  .slipstream__content__left, .slipstream__content__right {
    width: 300px;
  }
}
.slipstream__content__left h3 {
  font-size: 30px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .slipstream__content__left h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 430px) {
  .slipstream__content__left h3 {
    margin: 10px 0;
  }
}
.slipstream__content__left p {
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  .slipstream__content__left p {
    font-size: 14px;
  }
}
@media screen and (max-width: 430px) {
  .slipstream__content__left p {
    font-size: 10px;
    line-height: 15px;
  }
}
.slipstream__content__right {
  background: #ffffff;
}
.slipstream__content__right h3 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 25px 0;
}
@media screen and (max-width: 768px) {
  .slipstream__content__right h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 430px) {
  .slipstream__content__right h3 {
    font-size: 20px;
  }
}
.slipstream__content__right__schedule div:nth-child(1) {
  display: flex;
  justify-content: center;
}
.slipstream__content__right__schedule div:nth-child(1) img {
  width: 260px;
}
.slipstream__content__right__schedule div:nth-child(1) div {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slipstream__content__right__schedule div:nth-child(2) {
  display: flex;
  margin: 5px 0 15px;
}
.slipstream__content__right__schedule div:nth-child(2) span:nth-child(1) {
  margin: 0 65px 0 130px;
}
@media screen and (max-width: 768px) {
  .slipstream__content__right__schedule div:nth-child(2) span:nth-child(1) {
    margin: 0 50px 0 82px;
  }
}
.slipstream__content__right__schedule div:nth-child(2) span {
  font-size: 15px;
  font-weight: 700;
}

.balance {
  background: url("../img/balance-bg.jpg") no-repeat;
  background-size: cover;
  height: 345px;
}
@media screen and (max-width: 1440px) {
  .balance {
    background: url("../img/balance-1440-bg.jpg") no-repeat;
    background-size: cover;
    height: 310px;
  }
}
@media screen and (max-width: 1024px) {
  .balance {
    background: url("../img/balance-1024-bg.jpg") no-repeat;
    background-size: cover;
    height: 290px;
  }
}
@media screen and (max-width: 768px) {
  .balance {
    background: url("../img/balance-768-bg.jpg") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 430px) {
  .balance {
    height: 400px;
  }
}
.balance__content {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 65px;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .balance__content {
    width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .balance__content {
    width: 740px;
    padding-top: 50px;
  }
}
@media screen and (max-width: 430px) {
  .balance__content {
    flex-direction: column;
    width: 400px;
  }
}
@media screen and (max-width: 380px) {
  .balance__content {
    width: 320px;
  }
}
.balance__content__left, .balance__content__right {
  height: 250px;
  width: 500px;
}
@media screen and (max-width: 768px) {
  .balance__content__left, .balance__content__right {
    width: 350px;
  }
}
@media screen and (max-width: 430px) {
  .balance__content__left, .balance__content__right {
    width: 300px;
  }
}
.balance__content__left {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 430px) {
  .balance__content__left {
    height: 200px;
  }
}
.balance__content__right {
  font-weight: 700;
}
.balance__content__right h3 {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .balance__content__right h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 430px) {
  .balance__content__right h3 {
    text-align: center;
    margin: 0 0 10px;
  }
}
.balance__content__right p {
  font-size: 19px;
  line-height: 25px;
}
@media screen and (max-width: 1024px) {
  .balance__content__right p {
    font-size: 14px;
  }
}
@media screen and (max-width: 430px) {
  .balance__content__right p {
    text-align: center;
    font-size: 12px;
  }
}
.balance__content__right__switch {
  display: flex;
  justify-content: space-around;
  width: 180px;
  margin: 20px 0;
}
@media screen and (max-width: 430px) {
  .balance__content__right__switch {
    justify-content: center;
    margin: 0 auto;
  }
}
.balance__content__right__switch div {
  width: 40px;
  height: 0;
  border: 4px solid;
  margin: 0 5px;
}

.footer {
  height: 150px;
  background: #353535;
}
.footer p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #FFCD00;
  padding-top: 30px;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .footer p {
    font-size: 18px;
  }
}
@media screen and (max-width: 430px) {
  .footer p {
    font-size: 14px;
  }
}
.footer div {
  margin: 40px 0 0 0;
  text-align: center;
}
.footer svg {
  fill: #FFCD00;
  margin: 0 20px;
}
@media screen and (max-width: 430px) {
  .footer svg {
    margin: 0 10px;
  }
}
.footer--facebook:hover {
  fill: #0B84ED;
}
.footer--instagram:hover {
  fill: #D73184;
}
.footer--linkedin:hover {
  fill: #0A66C2;
}
.footer--telegram:hover {
  fill: #148AC5;
}

/*# sourceMappingURL=main.css.map */
