@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$gyroColor: #FFCD00;
@mixin flexCentrCentr () {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0 auto !important;
  max-width: 1600px;
  box-shadow: 0 0 5px 5px #cccccc;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}
.header {
  height: 600px;
  @media screen and (max-width: 768px) {
    height: 560px;
  }
  @media screen and (max-width: 430px) {
    height: 800px;
  }
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0 0 60px;
    @media screen and (max-width: 430px) {
      position: fixed;
      height: 70px;
      width: 100%;
      z-index: 7;
      background: $gyroColor;
    }
    svg {
      width: 70px;
      height: 70px;
    }
    a {
      text-decoration: none;
      color: #000000;
      position: relative;
    }
    &--logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 430px) {
        top: -10px;
        left: -100px;
      }
      @media screen and (max-width: 330px) {
        left: -80px;
      }
      span {
        margin-left: 15px;
        font-size: 24px;
        font-weight: 700;
      }
    }
    nav {
      @media screen and (max-width: 430px) {
        display: none;
      }
      a {
        margin-right: 30px;
        font-size: 20px;
        font-weight: 400;
      }
      a:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: #000000;
        transition: .5s ease;
      }
      a:hover::before {
        width: 100%;
      }
    }
  }
  #hamburger {
    display: none;
    & + label {
      display: none;
      width: 42px;
      height: 42px;
      @media screen and (max-width: 430px) {
        display: block;
        position: absolute;
        z-index: 1;
        top: 45px;
        right: 30px;
      }
      span {
        width: 30px;
        height: 3px;
        background: #000000;
        display: block;
        position: relative;
        margin: auto;
        transition: .5s;
        &:before, &:after {
          transition: .5s;
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          display: block;
          background: #000000;
        }
        &:before {
          top: -10px;
        }
        &:after {
          bottom: -10px;
        }
      }
    }
    &:checked + label {
      span {
        background: transparent;
        transform: rotate(180deg);
        &:before, &:after {
          top: 50%;
          bottom: initial;
          width: 110%;
          background: #000000;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: fixed;
    height: 280px;
    top: 90px;
    right: 0;
    left: 0;
    background: $gyroColor;
    overflow: auto;
    z-index: 6;
    a {
      margin: 15px 0;
    }
  }
  &__content {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      width: 900px;
    }
    @media screen and (max-width: 768px) {
      width: 700px;
      justify-content: space-around;
    }
    @media screen and (max-width: 430px) {
      padding-top: 130px;
      width: 400px;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (max-width: 380px) {
      width: 320px;
    }
    &__left {
      position: relative;
      margin-top: 60px;
      @media screen and (max-width: 430px) {
        margin: 0;
      }
      h2 {
        font-size: 204px;
        font-weight: 900;
        text-align: center;
        margin: 0;
        @media screen and (max-width: 1024px) {
          font-size: 150px;
        }
        @media screen and (max-width: 768px) {
          font-size: 90px;
        }
      }
      img {
        position: absolute;
        top: 130px;
        left: -40px;
        @media screen and (max-width: 1024px) {
          width: 500px;
          top: 100px;
        }
        @media screen and (max-width: 768px) {
          width: 350px;
          top: 55px;
          left: -45px;
        }
        @media screen and (max-width: 380px) {
          width: 300px;
          left: -25px;
        }
      }
    }
    &__right {
      margin-left: 120px;
      position: relative;
      @media screen and (max-width: 768px) {
        margin-left: 70px;
        width: 300px;
      }
      @media screen and (max-width: 430px) {
        margin: 90px 0 0 0;
      }
      h3 {
        font-size: 30px;
        font-weight: 400;
        margin: 0 0 25px;
        @media screen and (max-width: 768px) {
          font-size: 24px;
        }
        @media screen and (max-width: 430px) {
         text-align: center;
        }
      }
      p {
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;
        margin: 0;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
      &__btn {
        cursor: pointer;
        margin-top: 25px;
        background: $gyroColor;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        @include flexCentrCentr;
        @media screen and (max-width: 768px) {
          width: 140px;
          height: 40px;
          margin-top: 20px;
        }
        @media screen and (max-width: 430px) {
          margin: 10px auto;
        }
        a {
          text-decoration: none;
          color: #000000;
        }
        &:hover {
          box-shadow: 0 0 5px 1px #000000;
        }
      }
      &__img {
        background: url("../img/header_img2.jpg");
        background-size: cover;
        position: absolute;
        top: 330px;
        left: 55px;
        width: 261px;
        height: 247px;
        @include flexCentrCentr;
        @media screen and (max-width: 1024px) {
          width: 211px;
          height: 200px;
        }
        @media screen and (max-width: 768px) {
          width: 158px;
          height: 150px;
          top: 310px;
          left: 0;
        }
        @media screen and (max-width: 430px) {
          right: 0;
          margin: 0 auto;
        }
        svg {
          display: none;
          fill: #ffffff;
          width: 110px;
          height: 110px;
          cursor: pointer;
          @media screen and (max-width: 1024px) {
            width: 80px;
            height: 80px;
          }
        }
        &:hover svg {
          display: block;
        }
      }
    }
  }
}
.super {
  &__content {
    display: flex;
    @media screen and (max-width: 430px) {
      flex-direction: column;
    }
    &__left {
      margin-top: 50px;
      margin-right: 160px;
      position: relative;
      width: 1080px;
      @media screen and (max-width: 1024px) {
        width: 1024px;
        margin-right: 0;
      }
      @media screen and (max-width: 768px) {
        width: 768px;
      }
      @media screen and (max-width: 430px) {
        width: 400px;
        margin: 30px auto 0;
      }
      @media screen and (max-width: 380px) {
        width: 300px;
      }
      &__desc {
        width: 465px;
        margin-left: 220px;
        @media screen and (max-width: 1440px) {
          margin-left: 120px;
        }
        @media screen and (max-width: 1024px) {
          margin-left: 80px;
          width: 420px;
        }
        @media screen and (max-width: 768px) {
          margin-left: 70px;
          width: 300px;
        }
        @media screen and (max-width: 430px) {
          margin: 0 auto;
        }
        h3 {
          font-size: 30px;
          font-weight: 400;
          margin: 0 0 25px;
          @media screen and (max-width: 768px) {
            font-size: 24px;
          }
          @media screen and (max-width: 430px) {
            text-align: center;
          }
        }
        p {
          font-size: 19px;
          font-weight: 400;
          line-height: 25px;
          margin: 0;
          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
        &__btn {
          cursor: pointer;
          margin-top: 25px;
          background: $gyroColor;
          width: 200px;
          height: 50px;
          border-radius: 25px;
          @include flexCentrCentr;
          @media screen and (max-width: 768px) {
            width: 140px;
            height: 40px;
            margin-top: 20px;
          }
          @media screen and (max-width: 430px) {
            margin: 20px auto;
          }
          a {
            text-decoration: none;
            color: #000000;
          }
          &:hover {
            box-shadow: 0 0 5px 1px #000000;
          }
        }
      }
      img {
        position: absolute;
        z-index: -1;
        top: 340px;
        left: 220px;
        @media screen and (max-width: 1440px) {
          left: 60px;
        }
        @media screen and (max-width: 1024px) {
          width: 700px;
          top: 270px;
        }
        @media screen and (max-width: 768px) {
          width: 530px;
          top: 230px;
        }
        @media screen and (max-width: 430px) {
          width: 350px;
          top: 240px;
          right: 0;
          left: 0;
          margin: 0 auto;
        }
        @media screen and (max-width: 380px) {
          width: 300px;
        }
      }
      &__facts {
        display: flex;
        justify-content: space-between;
        margin-top: 450px;
        @media screen and (max-width: 1024px) {
          margin-top: 292px;
        }
        @media screen and (max-width: 768px) {
          margin-top: 192px;
        }
        @media screen and (max-width: 430px) {
          margin-top: 200px;
          width: 99%;
        }
        @media screen and (max-width: 380px) {
          width: 300px;
        }
        div:nth-child(1) {
          height: 210px;
          width: 455px;
          display: flex;
          background: #262628;
          color: #ffffff;
          margin-right: 2px;
          @media screen and (max-width: 1024px) {
            width: 380px;
          }
          @media screen and (max-width: 768px) {
            width: 250px;
            height: 180px;
          }
          @media screen and (max-width: 430px) {
            width: 235px;
            height: 100px;
          }
          @media screen and (max-width: 380px) {
            display: none;
          }
          section {
            height: 210px;
            margin-left: 260px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @media screen and (max-width: 1024px) {
              margin-left: 230px;
            }
            @media screen and (max-width: 768px) {
              margin-left: 160px;
              height: 180px;
            }
            @media screen and (max-width: 430px) {
              margin: 0;
              height: 100px;
              flex-direction: row;
            }
            p {
              font-size: 32px;
              font-weight: 700;
              margin: 0;
              @media screen and (max-width: 768px) {
                font-size: 28px;
              }
              @media screen and (max-width: 430px) {
                font-size: 12px;
                margin: auto 5px;
              }
            }
          }
        }
        div:nth-child(2), div:nth-child(3), div:nth-child(4) {
          @include flexCentrCentr;
          flex-direction: column;
          width: 230px;
          height: 145px;
          background: #E7E7E7;
          margin: 65px 2px 0;
          @media screen and (max-width: 1440px) {
            width: 210px;
          }
          @media screen and (max-width: 768px) {
            width: 168px;
            height: 115px;
          }
          @media screen and (max-width: 430px) {
            height: 100px;
            margin: 0 2px;
          }
          @media screen and (max-width: 380px) {
            width: 90px;
            height: 100px;
          }
          h3 {
            font-size: 45px;
            font-weight: 400;
            margin: 0 0 20px;
            @media screen and (max-width: 768px) {
              font-size: 36px;
            }
            @media screen and (max-width: 430px) {
              font-size: 24px;
            }
          }
          span {
            font-size: 12px;
            font-weight: 300;
            @media screen and (max-width: 768px) {
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
    }
    &__right {
      position: relative;
      @media screen and (max-width: 430px) {
        display: none;
      }
      img {
        position: absolute;
        z-index: -2;
        left: -430px;
        @media screen and (max-width: 1440px) {
          left: -591px;
        }
        @media screen and (max-width: 1024px) {
          width: 500px;
          left: -505px;
        }
        @media screen and (max-width: 768px) {
          width: 400px;
          left: -402px;
        }
        @media screen and (max-width: 380px) {
          width: 320px;
        }
      }
    }
  }
}
.ultra {
  background: url("../img/ultra-bg.jpg") no-repeat;
  background-size: cover;
  height: 800px;
  @media screen and (max-width: 1440px) {
    background: url("../img/ultra-1440-bg.jpg") no-repeat;
    height: 740px;
  }
  @media screen and (max-width: 1024px) {
    background: url("../img/ultra-1024-bg.jpg") no-repeat;
    height: 526px;
  }
  @media screen and (max-width: 768px) {
    background: url("../img/ultra-768-bg.jpg") no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 430px) {
    height: 670px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    @media screen and (max-width: 430px) {
      flex-direction: column;
      justify-content: space-around;
    }
    &__left, &__right {
      background: #ffffff;
      height: 470px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px) {
        height: 300px;
      }
      h3 {
        margin: 30px 0 20px;
        font-size: 25px;
        font-weight: 700;
        @media screen and (max-width: 768px) {
          font-size: 20px;
          margin: 20px 0;
        }
      }
      p {
        width: 80%;
        font-size: 19px;
        line-height: 25px;
        @media screen and (max-width: 768px) {
          font-size: 14px;
          line-height: 20px;
          margin-top: 0;
        }
      }
     }
    &__left {
      width: 400px;
      @media screen and (max-width: 768px) {
        width: 300px;
      }
      @media screen and (max-width: 430px) {
        width: 280px;
      }
      img {
        @media screen and (max-width: 768px) {
          width: 230px;
        }
      }
      &__switch {
        display: flex;
        justify-content: space-around;
        div {
          width: 40px;
          height: 0;
          border: 4px solid;
          margin: 30px 5px;
          @media screen and (max-width: 768px) {
            margin: 15px 5px;
          }
        }
      }
    }
    &__right {
      width: 368px;
      @media screen and (max-width: 768px) {
        width: 280px;
      }
      p {
        text-align: center;
        span {
          font-size: 20px;
          font-weight: 400;
          color: #000000;
          @media screen and (max-width: 768px) {
            font-size: 16px;
          }
        }
        span:nth-child(2) {
          margin: 0 15px;
          color: $gyroColor;
        }
      }
      img {
        @media screen and (max-width: 768px) {
          width: 280px;
        }
      }
    }
  }
}
.network {
  background: url("../img/network-bg.jpg") no-repeat;
  background-size: cover;
  @media screen and (max-width: 1440px) {
    background: url("../img/network-1440-bg.jpg") no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 1024px) {
    background: url("../img/network-1024-bg.jpg") no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 768px) {
    background: url("../img/network-768-bg.jpg") no-repeat;
    background-size: cover;
  }
  h2 {
    text-align: center;
    padding-top: 60px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 58px;
    @media screen and (max-width: 768px) {
      padding-top: 40px;
      font-size: 24px;
    }
    @media screen and (max-width: 380px) {
      font-size: 22px;
      margin: 0;
    }
    svg {
      margin-right: 30px;
      @media screen and (max-width: 768px) {
        margin-right: 10px;
        height: 26px;
      }
    }
    @media screen and (max-width: 1440px) {
      padding-top: 40px;
      margin: 0 0 27px;
    }
    @media screen and (max-width: 430px) {
      margin: 0 0 10px;
    }
  }
  &__content {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 1024px) {
      width: 1000px;
    }
    @media screen and (max-width: 768px) {
      width: 700px;
    }
    @media screen and (max-width: 430px) {
      width: 400px;
      flex-direction: column;
    }
    @media screen and (max-width: 380px) {
      width: 320px;
    }
    h4, p {
      color: #ffffff;
      font-weight: 400;
    }
    h4 {
      font-size: 25px;
      margin: 30px 0 20px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
    p {
      font-size: 15px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
    &__left, &__right {
      width: 360px;
      @media screen and (max-width: 768px) {
        width: 235px;
      }
    }
    &__center {
      width: 370px;
      height: 330px;
      background: #F4F4F4;
      margin: 0 45px 0 30px;
      border-radius: 43px 43px 0 0;
      @media screen and (max-width: 768px) {
        width: 300px;
        height: 315px;
        margin: 0 20px;
      }
      @media screen and (max-width: 430px) {
        border-radius: 43px;
      }
        h3 {
          font-size: 30px;
          font-weight: 900;
          color: #A4A4A4;
          text-align: center;
          @media screen and (max-width: 768px) {
            font-size: 24px;
          }
        }
      &__main {
        display: flex;
        margin: 0 auto;
        width: 280px;
        height: 180px;
        border-radius: 2px;
        @media screen and (max-width: 768px) {
          width: 240px;
        }
        div:nth-child(1) {
          background: #ffffff;
          @include flexCentrCentr;
          width: 170px;
          position: relative;
          @media screen and (max-width: 768px) {
            width: 140px;
          }
          span {
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            position: absolute;
          }
        }
        div:nth-child(2) {
          background: #39bfbf;
          width: 110px;
          font-weight: 400;
          @media screen and (max-width: 768px) {
            width: 100px;
          }
          h4 {
            margin: 20px 0 10px 10px;
            font-size: 18px;
            width: 80%;
            @media screen and (max-width: 768px) {
              font-size: 14px;
            }
          }
          p {
            margin: 0 0 10px 10px;
            font-size: 10px;
            width: 80%;
            line-height: 12px;
          }
          span {
            font-size: 18px;
            color: #ffffff;
            margin: 0 0 0 10px;
            @media screen and (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
      }
      &__main + p {
        text-align: center;
        @include flexCentrCentr;
        color: #A4A4A4;
        font-size: 12px;
        font-weight: 400;
        margin: 20px 0 0;
      }
      svg {
        margin-right: 20px;
        fill: #A4A4A4;
      }
    }
  }
}
.slipstream {
  background: url("../img/slipsrteam-bg.jpg") no-repeat;
  background-size: cover;
  height: 345px;
  @media screen and (max-width: 1440px) {
    background: url("../img/slipsrteam-1440-bg.jpg") no-repeat;
    background-size: cover;
    height: 310px;
  }
  @media screen and (max-width: 1024px) {
    background: url("../img/slipsrteam-1024-bg.jpg") no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 768px) {
    background: url("../img/slipsrteam-768-bg.jpg") no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 430px) {
    height: 380px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 45px;
    @media screen and (max-width: 1440px) {
      padding-top: 25px;
    }
    @media screen and (max-width: 430px) {
      flex-direction: column;
      padding-top: 10px;
    }
    &__left, &__right {
      width: 465px;
      @media screen and (max-width: 768px) {
        width: 350px;
      }
      @media screen and (max-width: 430px) {
        width: 300px;
      }
    }
    &__left {
      h3 {
        font-size: 30px;
        font-weight: 700;
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
        @media screen and (max-width: 430px) {
          margin: 10px 0;
        }
      }
      p {
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
        @media screen and (max-width: 430px) {
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
    &__right {
      background: #ffffff;
      h3 {
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        margin: 25px 0;
        @media screen and (max-width: 768px) {
          font-size: 30px;
        }
        @media screen and (max-width: 430px) {
          font-size: 20px;
        }
      }
      &__schedule {
        div:nth-child(1) {
          display: flex;
          justify-content: center;
          img {
            width: 260px;
          }
          div {
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
        div:nth-child(2) {
          display: flex;
          margin: 5px 0 15px;
          span:nth-child(1) {
            margin: 0 65px 0 130px;
            @media screen and (max-width: 768px) {
              margin: 0 50px 0 82px;
            }
          }
          span {
            font-size: 15px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.balance {
  background: url("../img/balance-bg.jpg") no-repeat;
  background-size: cover;
  height: 345px;
  @media screen and (max-width: 1440px) {
    background: url("../img/balance-1440-bg.jpg") no-repeat;
    background-size: cover;
    height: 310px;
  }
  @media screen and (max-width: 1024px) {
    background: url("../img/balance-1024-bg.jpg") no-repeat;
    background-size: cover;
    height: 290px;
  }
  @media screen and (max-width: 768px) {
    background: url("../img/balance-768-bg.jpg") no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 430px) {
    height: 400px;
  }
  &__content {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 65px;
    color: #ffffff;
    @media screen and (max-width: 1024px) {
      width: 960px;
    }
    @media screen and (max-width: 768px) {
      width: 740px;
      padding-top: 50px;
    }
    @media screen and (max-width: 430px) {
      flex-direction: column;
      width: 400px;
    }
    @media screen and (max-width: 380px) {
      width: 320px;
    }
    &__left, &__right {
      height: 250px;
      width: 500px;
      @media screen and (max-width: 768px) {
        width: 350px;
      }
      @media screen and (max-width: 430px) {
        width: 300px;
      }
    }
    &__left {
      display: flex;
      align-items: center;
      @media screen and (max-width: 430px) {
        height: 200px;
      }
    }
    &__right {
      font-weight: 700;
      h3 {
        font-size: 30px;
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
        @media screen and (max-width: 430px) {
          text-align: center;
          margin: 0 0 10px;
        }
      }
      p {
        font-size: 19px;
        line-height: 25px;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
        @media screen and (max-width: 430px) {
          text-align: center;
          font-size: 12px;
        }
      }
      &__switch {
        display: flex;
        justify-content: space-around;
        width: 180px;
        margin: 20px 0;
        @media screen and (max-width: 430px) {
          justify-content: center;
          margin: 0 auto;
        }
        div {
          width: 40px;
          height: 0;
          border: 4px solid;
          margin: 0 5px;
        }
      }
    }
  }
}
.footer {
  height: 150px;
  background: #353535;
  p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: $gyroColor;
    padding-top: 30px;
    margin: 0;
    @media screen and (max-width: 500px) {
      font-size: 18px;
    }
    @media screen and (max-width: 430px) {
      font-size: 14px;
    }
  }
  div {
    margin: 40px 0 0 0;
    text-align: center;
  }
  svg {
    fill: $gyroColor;
    margin: 0 20px;
    @media screen and (max-width: 430px) {
      margin: 0 10px;
    }
  }
  &--facebook:hover {
    fill: #0B84ED;
  }
  &--instagram:hover {
    fill: #D73184;
  }
  &--linkedin:hover {
    fill: #0A66C2;
  }
  &--telegram:hover {
    fill: #148AC5;
  }
}